.listBox {
  width: auto;
  height: auto;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .listBox {
  }
}

@media screena and (max-width: 768px) {
  .listBox {
  }
}
