
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  // color
  --main-black-color: black;
  --main-white-color: white;

  --main-font-color: #ffffff;
  --sub-font-color: #d0d0d0;

  --main-color: rgb(255, 0, 247);
  --sub-color: rgb(185, 0, 178);

  // font-size
  --xxsmall-font-size: 0.5rem;
  --xsmall-font-size: 0.75rem;
  --small-font-size: 0.875rem;
  --medium-font-size: 1rem;
  --large-font-size: 1.125rem;
  --xlarge-font-size: 1.25rem;
  --xxlarge-font-size: 1.5rem;
  --xxxlarge-font-size: 1.875rem;
  --huge-font-size: 2.25rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  // background-color: var(--main-black-color);
  // color: var(--main-font-color);
  overflow: clip;
  padding: 0px;
  width: 100%;
  position: relative;
  margin: 0px auto;
  background-color: rgb(8, 8, 8);
  background-image: url(../../public//images/common/dots.png);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
