.box {
  width: auto;
  h1 {
    display: inline-block;
    font-size: var(--xxhuge-font-size);
    font-weight: var(--bold-font-weight);
    color: var(--main-black-color);
    background-color: var(--main-white-color);
    line-height: 3.5rem;
  }
}

@media screen and (max-width: 1280px) {
  .box {
    h1 {
    }
  }
}

@media screen and (max-width: 1280px) {
  .box {
    h1 {
    }
  }
}
