.concept {
  width: 100vw;
  height: auto;
  .container {
    width: 90%;
    margin: 0 auto;
    padding: 100px 0;
    .flex {
      display: flex;
      margin-top: 200px;
      margin-left: 840px;
      .leftBox {
        position: relative;
        width: 600px;
        margin-right: 200px;
        .image1 {
          position: absolute;
          right: 30px;
          top: 20px;
          z-index: 2;
        }
        .image2 {
          position: absolute;
          top: -450px;
          right: -300px;
          z-index: 0;
        }
      }
      .rightBox {
        width: auto;
        margin-top: 250px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .concept {
    .container {
    }
  }
}

@media screen and (max-width: 768px) {
  .concept {
    .container {
    }
  }
}
