.about {
  width: 100vw;
  height: 500px;
  .container {
    display: flex;
    width: 100%;
    height: 100%;
    .leftBox {
      width: 50%;
      height: 500px;
      padding-top: 130px;
      padding-left: 90px;
      border-right: 0.1px solid var(--main-white-color);
      .aboutTitle {
        display: block;
        font-size: 80px;
        font-weight: 700;
        line-height: 75px;
      }
      .linkBox {
        display: flex;
        width: 100%;
        height: 140px;
        padding-top: 0px;
      }
    }
  }
  .rightBox {
    width: 50%;
    height: 500px;
    .top {
      width: 100%;
      height: 250px;
      padding-top: 60px;
      padding-left: 90px;
      border-bottom: 1px solid var(--main-white-color);
      .smallTitle {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
      }
      .title {
        font-size: 46px;
        font-weight: 700;
        .number {
          font-size: 92px;
        }
      }
    }
    .bottom {
      width: 100%;
      height: 250px;
      padding-top: 60px;
      padding-left: 90px;
      .title {
        font-size: 24px;
        line-height: 44px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .bottomText {
        display: block;
        width: 85%;
        font-size: 15px;
        font-weight: 500;
        line-height: 26px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .about {
    .container {
      .leftBox {
      }
      .rightBox {
        .top {
        }
        .bottom {
          .bottomLeft {
          }
          .bottomRight {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    .container {
      .leftBox {
      }
      .rightBox {
        .top {
        }
        .bottom {
          .bottomLeft {
          }
          .bottomRight {
          }
        }
      }
    }
  }
}
