.hero {
  width: 100vw;
  height: 120vh;
  padding-top: 40px;
  border-bottom: 1px solid var(--main-white-color);
  .heroTop {
    width: 100%;
    height: 490px;
    display: flex;
    align-items: center;
    .leftBox {
      width: calc(100% - 80px);
      border-right: 1px solid var(--main-white-color);
      .top {
        display: flex;
        height: 350px;
        border-bottom: 1px solid var(--main-white-color);
        .titleBox {
          width: calc(100% - 340px);
          padding: 140px 0px 0px 50px;
          border-right: 1px solid var(--main-white-color);
        }
        .descBox {
          position: relative;
          width: 350px;
          height: 100%;
          padding: 110px 60px;
          .descText {
            display: block;
            font-size: 22px;
            font-weight: 700;
            line-height: 44px;
          }
        }
      }
      .bottom {
        position: relative;
        height: 140px;
        border-bottom: 1px solid var(--main-white-color);
      }
    }
    .rightBox {
      width: 80px;
      height: 100%;
      border-bottom: 1px solid var(--main-white-color);
    }
  }
  .heroBottom {
    width: 100%;
    height: 100%;
    display: flex;
    .leftImage {
      width: 50%;
      height: 100%;
      .image {
        width: 100%;
        height: auto;
      }
    }
    .rightImage {
      width: 50%;
      height: 100%;
      .image {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 768px) {
}
