.btn {
  width: 40px;
  height: 40px;
  background-color: var(--main-white-color);
  .border {
    width: 25px;
    height: 2px;
    margin: 0 auto;
    background-color: var(--main-black-color);
  }
  .border::nth-chikd(2) {
    margin-top: 5px;
  }
  .border::nth-chikd(3) {
    margin-top: 5px;
  }
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 768px) {
}
