.titleBox {
  width: auto;
  height: 150px;
  .title {
    font-size: 80px;
    font-weight: 700;
    line-height: 75px;
  }
}

@media screen and (max-width: 1280px) {
  .titleBox {
    .title {
    }
  }
}

@media screen and (max-width: 768px) {
  .titleBox {
    .title {
    }
  }
}
