.item {
  text-decoration: none;
  margin-right: 35px;
  .itemText {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 300;
  }
}

// props
.black {
  color: var(--main-black-color);
}
.white {
  color: var(--main-white-color);
}
.pink {
  color: var(--main-pink-color);
}

@media screen and (max-width: 1280px) {
  .item {
    .itemText {
    }
  }
}

@media screen and (max-width: 768px) {
  .item {
    .itemText {
    }
  }
}
