.linkBox {
  width: 25px;
  height: 25px;
  background-color: var(--main-white-color);
  text-align: center;
  .icon {
    padding-top: 5px;
    font-size: 20px;
    margin: 0 auto;
    color: var(--main-black-color);
  }
}

// props
.small {
}
.medium {
}
.large {
}
.black {
}
.white {
}
.pink {
}

@media screen and (max-width: 1280px) {
  .linkBox {
    display: none;
  }
}
@media screen and (max-width: 768px) {
}
